.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.header__logo {
  height: 25px;
  object-fit: contain;
  margin-left: 20px;
}

.header__input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
}

@media screen and (min-width: 600px) {
  .header__input {
    width: 40%;
  }
  .header__input > input {
    flex: 1;
    margin: 0 2px;
    border: none;
    outline: none;
  }
}

.header__input > input {
  border: none;
  outline: none;
  width: 100px;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__inputButton {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
}

.left__icons {
  margin-right: 8px;
}

@media screen and (max-width: 600px) {
  .left__icons {
    display: none !important;
  }
}
